.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.progress-bars {
  padding: 30px;
  background-color: white;
}

body {
  background-color: #f1f2f6;
}

.app-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-weight: bold;
  font-size: 30px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 30px;
}
